# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables - مهم!
.env
.env.local
*.env

# IDE
.vscode/
.idea/
*.swp